/**********************************
Eric Rogers
08/12/2014
Design Patterns for Web Programming
Simple Form
***********************************/


/*======= CSS RESET ================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------- End of CSS Reset --------------*/

/*======== Site Wide Styles =============*/

body {
    background: url("../images/keyboard.jpg");
    background-size: cover;
}


/*========= Header Section ============*/
header {
    width: 100%;
    height: 60px;
    background: rgba(20,20,20,0.8);
    box-shadow: 0 5px 5px #000;
    position: fixed;
    top: 0;
    left: 0;
}



h1 {
    color: #fff;
    font-size: 2em;
    margin-left: 50px;
    padding-top: 10px;
    float: left;
}

h2 {
    width: 200px;
    font-size: 1.2em;
    color: #555;
    padding-top: 20px;
    margin-left: 30px;
    float: left;
}

header nav {
    float: right;
}

header nav ul li {
    width: 150px;
    padding-top: 15px;
    float: left;
}

header li a {
    color: #666;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}

header li a:hover {
    color: #fff;
}

.active_link {
    color: #fff;
    text-decoration: underline;
}

/*======== Contact Page (view1) ====*/
/*============= Form ===============*/

form {
    width: 450px;
    margin: 100px auto 30px auto;
    padding-bottom: 30px;
    background: rgba(0,0,0,0.5);
}

form label {
    color: #e0922e;
    font-size: 2em;
    width: 50%;
    margin: 30px 0 0 60px;
    float: left;
    clear: both;
}

form input {
    width: 330px;
    height: 40px;
    margin: 10px 0 0 60px;
    color: #fff;
    font-size: 1.2em;
    background: transparent;
    border-color: #fff;
    padding-left: 10px;
    box-sizing: border-box;
}

form input:hover {
    border-color: #e0922e;
}

form input:focus {
    background: rgba(255,145,0,0.3);
}

form select {
    border: 0;
    width: 374px;
    height: 40px;
    padding: 5px;
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    font-size: 1.2em;
}

#select-box {
    width: 334px;
    height: 40px;
    float: left;
    clear: both;
    overflow: hidden;
    border: 2px solid #fff;
    margin: 10px 0 30px 60px;
    background: url("../images/select_arrow.png") no-repeat right;
}

form input[type=checkbox] {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 48px;
    clear: left;
    display: none;
}

.visible-checkbox {
    display:inline-block;
    width:40px;
    height:40px;
    margin:-1px 10px 0 48px;
    vertical-align:middle;
    background:url(../images/checkbox-sprite.png) left top no-repeat;
    cursor:pointer;
}

form input[type=checkbox]:checked + label span {
    background: url("../images/checkbox-sprite.png") -40px top no-repeat;
}

label[for=return_customer] {
    width: 80%;
    float: left;
    clear: right;
    text-align: center;
    margin: 10px auto 20px -4px;
}

form input[type=submit] {
    height: 50px;
    padding-bottom: 30px;
    background: #17e01f;
    border: none;
    font-size: 2em;
    line-height: 1.4;
    color: #fff;
}

