html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*========= End of CSS Reset ===================*/

@font-face {
    font-family: 'ac_filmstripregular';
    src: url('../fonts/acfilmstrip-webfont.eot');
    src: url('../fonts/acfilmstrip-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/acfilmstrip-webfont.woff') format('woff'),
         url('../fonts/acfilmstrip-webfont.ttf') format('truetype'),
         url('../fonts/acfilmstrip-webfont.svg#ac_filmstripregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #000;
	color: #fff;
}

h1 {
	font-family: "ac_filmstripregular";
	width: 100%;
	height: 100px;
	background: #A50B0B;
	line-height: 1;
	font-size: 5em;
	text-align: center;
	margin-bottom: 50px;
}

form {
	text-align: center;
}

input {
	width: 30%;
	height: 40px;
	font-size: 1.5em;
	border: 1px solid #c20404;
	margin-bottom: 50px;
	box-sizing: border-box;
	text-indent: 10px;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFFFFF),
	color-stop(0.8, #E3E3E3),
	color-stop(1, #E3BFBF)
);
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 80%, #E3BFBF 100%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 80%, #E3BFBF 100%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 80%, #E3BFBF 100%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #E3E3E3 80%, #E3BFBF 100%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #E3E3E3 80%, #E3BFBF 100%);
}

input:nth-of-type(2) {
	width: 120px;
	border: none;
	height: 40px;
	color: #fff;
	font-size: 1.5em;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FFFFFF),
	color-stop(0.29, #C20404)
);
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C20404 29%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C20404 29%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C20404 29%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C20404 29%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #C20404 29%);
	border-radius: 0 10px 10px 0;
}

ul {
	width: 540px;
	float: left;
	margin-left: 10%;
	padding-bottom: 50px;
}

li {
	font-size: 1.2em;
	padding-bottom: 10px;
	line-height: 1.2;
}

p {
	width: 400px;
	float: right;
	margin-right: 10%;
}

img {
	width: 350px;
}

h2 {
	font-size: 2em;
	color: red;
	text-align: center;
}
